## Code files
.vscode

## OS Files
**/.DS_Store
**/*~
.venv

## Python
**/__pycache__
**/*.pyc

## Log files
**/*.log

## Environment files
**/*.env

## Exlude .egg folders (related to package distribution)
*.egg*/

## Plt files
**/plt/*
!**/plt/.gitkeep
**/plts/*
!**/plts/.gitkeep