## OS Files
**/.DS_Store
**/*~

## Python
**/__pycache__
**/*.pyc

## Log files
**/*.log

## Environment files
**/*.env

## Exlude .egg folders (related to package distribution)
*.egg*/

## Plt files
**/plt/*
!**/plt/.git
**/plts/*
!**/plts/.git